@charset "UTF-8";

/*Estilo Geral*/
:root{
    --cor1: #242DB3;
    --co2: #333880;
    --cor3: #010FE6;
    --cor4: #2E304C;
    --cor5: #292933;
    --cor6: #0073E5;
    --cor7: #0058E5;

    --cor-verde1: #00FF08;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #000;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.efeito-txt-topo, .efeito-img-topo, .titulo, .efeito-img-sobre, .efeito-txt-sobre, .input-txt1, .input-txt2, .input-txt3, .input-txt4, .input-txt5, .efeito-img-final, .efeito-btn-final, .final, .efeito-header{
    visibility: hidden;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--cor6);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover, form .btn-enviar input[type=submit]:hover{
    box-shadow: 0px 0px 8px #0072e5cb;
    transform: scale(1.05);
}

h2.titulo{
    color: white;
    font-size: 38px;
    font-weight: bolder;
    text-align: center;
    margin-top: 60px;
}

h2.titulo span{
    color: #0a77e4;
}

/* BOTÃO VOLTAR AO TOPO */
.topo {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Alterado para 20px para manter o botão à direita */
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.show-button .topo {
    visibility: visible;
    opacity: 1;
}

.topo svg {
    fill: #0a77e4;
    width: 50px;
    height:50px;
}

/* Estilo do Header */
header{
    padding: 15px 4%;
}

img#logo{
    transform: translate(-30px , -15px);
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

div#btn-menu{
    display: none;
}

img#grande{
    border-radius: 50%;
    box-shadow: 0px 0px 50px #0072e59c;
    width: 400px;
}

/* ESTILO DO MENU MOBILE */

.menu-mobile{
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .3s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile .btn-fechar{
    padding: 20px 4%;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #0a77e4;
    color: #000;
}

.overlay-menu{
    background-color: #0000009d;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/*TOPO DO SITE*/

section.topo-do-site{
    padding: 40px 4% 40px 7%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.topo-do-site .txt-topo-site h1 span{
    color: var(--cor6);
    font-size: 60px;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;

    }
    100%{
        top: 30px;
    }
}

/*ESTILO DAS ESPECIALIDADES*/

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;

}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 40px;
    transition: .2s;
    cursor: pointer;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #ffffff50;
}

.especialidades .especialidades-box svg path{
    color: #0a77e4;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    font-weight: 700;
    margin: 30px 0px 15px 0px;
}

.especialidades .especialidades-box h3#paixão{
    font-size: 25px;
    font-weight: 800;
}

img#img2{
    border-radius: 20px;
    width: 360px;
}

/*ESTILO DO SOBRE*/

section.sobre{
    padding: 90px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #0a77e4;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0px;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #0a77e4;
    cursor: pointer;
    margin: 10px 5px 0px 5px;
    transition: .2s;
}

/*ESTILO PORTIFÓLIO*/

section.portfolio{
    padding: 50px 4% 110px 4%;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 45px;
}

.img-port{
    width: 360px;
    height: 300px;
    background-size: cover;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
    background-position: 100% 0%;  
    transition: 3s;
}

.img-port:hover{
    background-position: 100% 100%;
    
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
}

.overlay:hover{
    opacity: 100%;
    transition: .3s;
}

/*ESTILO DO FORMULÁRIO*/

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit]{
    width: 120px;
    background-color: #0a77e4;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    transition: .2s;
    margin-bottom: 80px;
}

/*ESTILO DO RODAPÉ*/

footer{
    padding: 60px 4%;
    box-shadow: 0px 0px 40px  10px #ffffff0c;
}

footer .flex{
    justify-content: space-between;
}

.borda{
    border-top: 2px solid #0a77e4;
}

footer .line-footer{
    padding: 20px 0;
}

footer .line-footer p {
    color: #0a77e4;
}

footer .line-footer p a{
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 1118px){
    /* GERAIS */

    .topo svg {
        fill: #0a77e4;
        width: 40px;
        height:40px;
    }

    .topo{
        width: 50px;
        height: 50px;
    }

    .flex{
        flex-direction: column;
    }

    div#flex2{
        flex-direction: column-reverse;
    }

    h2.titulo{
        font-size: 34px;
        line-height: 35px;
    }

    .topo-do-site .flex{
    flex-direction: column-reverse;
    }

    /*CABEÇALHO*/
    .menu-desktop, .btn-contato{
        display: none;
    }

    img#logo{
        width: 150px;
    }

    div#btn-menu{
        display: block;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex{
        gap: 70px;
    }

    section.topo-do-site{
        padding: 20px 8% 40px 12%;
    }    

    .topo-do-site h1{
        font-size: 35px;
        font-weight: bold;
        line-height:30px;
    }

    img#grande{
        border-radius: 50%;
        box-shadow: 0px 0px 50px #0072e59c;
        width: 300px;
        transform: translate(-10px, -8px);
    }

    /*ESTILO DAS ESPECIALIDADES*/

    section.especialidades{
        padding: 40px 8%;
    }

    /*ESTILO SOBRE*/

    section.sobre{
        padding: 90px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 30px;
        line-height: 34px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    img#img2{
        border-radius: 20px;
        width: 100%;
    }

    /* PORTIFÓLIO */


    section.portfolio{
        padding: 50px 8% 110px 8%;
        
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex{
        gap: 45px;
    }

    /* FORMULÁRIO */

    form input, form textarea{
        width: 90%;
        margin: 0 auto;
    }

    /* RODAPÉ */

    footer .flex{
        flex-direction: column;
    }

    footer .line-footer{
        text-align: center;
    }

    img#imgfinal{
        transform: translate(-4px, 0px);
    }
}